<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckMate Receipt Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to CheckMate</h1>

    <!-- Camera and Image Capture Interface -->
    <div id="camera-interface" style="display: none;">
      <video id="video-stream" width="640" height="480" autoplay></video>
      <canvas id="canvas" width="640" height="480"></canvas>
      <button id="capture-btn" style="display: none;" onclick="captureImage()">Capture Image</button>
    </div>
  
    <div id="form-container" style="text-align: center; margin-top: 20px;">
      <form action="/upload" method="post" enctype="multipart/form-data">
          <label for="image">Upload Receipt:</label>
          <input type="file" accept="image/*" capture="camera" id="image" name="image">
          <button type="submit">Upload Receipt</button>
      </form>
      <button class="btn" onclick="startCamera()">Start Camera</button>
    </div>
  
    <div style="text-align: center; margin-top: 20px;">
        <button onclick="location.href='/search_history'">Show History</button>
    </div>

    <script>
      const video = document.getElementById("video-stream");
      const canvas = document.getElementById("canvas");
      const formContainer = document.getElementById("form-container");
      const cameraInterface = document.getElementById("camera-interface");
      const captureButton = document.getElementById("capture-btn");
      let videoStream = null; // To hold the reference to the video stream

      function startCamera() {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              videoStream = stream; // Store the stream to stop it later
              video.srcObject = stream;
              formContainer.style.display = "none";
              cameraInterface.style.display = "block";
              captureButton.style.display = "block";  // Show the capture button
            }).catch(function (error) {
              console.error("There was an error opening your camera: ", error);
            });
      }

      function captureImage() {
          const context = canvas.getContext("2d");
          context.drawImage(video, 0, 0, canvas.width, canvas.height);
          const imageData = canvas.toDataURL("image/jpeg");

          fetch('/upload', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ image: imageData })
          }).then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Network response was not ok.');
          }).then(data => {
            console.log('Success:', data);
          }).catch(error => {
            console.error('Error:', error);
          });

          if (videoStream) {
            const tracks = videoStream.getTracks();
            tracks.forEach(track => track.stop());
          }

          formContainer.style.display = "block";
          cameraInterface.style.display = "none";
          captureButton.style.display = "none";  // Hide the capture button after taking the photo
      }
    </script>
    

</body>
</html>